In [4]:
# INT DATA TYPE

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(x,y,z)

print(type(x))
print(type(y))
print(type(z))

1 2.8 1j
<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
import random
# PRINTING A RAMDOM NUBER BETWEEN [X,Y)
print(random.randrange(1, 10))

1

In [10]:
# TYPE CASTING
x=5
print(type(x))

y=float(x)    # TYPE CASTING TO FLOAT VALUE
print(type(y))

z=str(x)     # TYPE CASTING TO STRING VALUE
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [22]:
# STRINGS :: THE VALUE IN BETWEEN "  "   OR '  ' 
V ="VINAY"    # ASSING A STRING TO VARIABLE
print(V)
a = """Lorem ipsum ,
consectetur 
ut labore et dolore magna aliqua."""
print(a)          # Multiline Strings

# STRINGS ARE ARRAYS 
a = "Hello, World!"
print(a[1])
print(" ")

for x in "banana":  #LOOPING IN A STRING
  print(x)
a = "Hello, World!" # LENGTH OF A STRING
print(len(a))

# To check if a certain phrase or character is present in a string, we can use the keyword in
txt = "The best things in life are free!"
print("free" in txt)

# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "free" in txt:              # USING IT WITH IF CAN ALSO BE USED WITH not in
  print("Yes, 'free' is present.")

VINAY
Lorem ipsum ,
consectetur
ut labore et dolore magna aliqua.
e

b
a
n
a
n
a
13
True
True
Yes, 'free' is present.

In [24]:
# SLICING THROUGH STRINGS
b = "Hello_World!"
print(b[2:5])    # Get the characters from position 2 to position 5 (not included):
print(b[:5])     # Slice From the Start
print(b[2:])     # Slice To the End
print(b[-5:-2])  # Negative indexes to start the slice from the end of the string:

llo
Hello
llo_World!
orl

In [29]:
# Modify Strings

a = " Hello World! "
b="abc*def*hij"
print(a.upper())           # returns the string in UPPER case
print(a.lower())           # returns the string in LOWER case
print(a.strip())           # remove space in the BEGINING and ENDING
print(a.replace("H", "F")) # replace H with F
print(b.split("*"))        # method splits the string into substrings if it finds instances of the separator

 HELLO WORLD!
 hello world!
Hello World!
 Fello World!
['abc', 'def', 'hij']

In [32]:
# CONCATENATION STRING 
a = "Hello "
b = "World"
c = a + b
print(c)

# age = 36
#This will produce an error:
# txt = "My name is John, I am " + age
# print(txt)

Hello World

In [33]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [41]:
price= 70
txt =f"the price is {price:.2f} rupees"
print(txt)
txt =f"the price is {30*4} rupees"
print(txt)

the price is 70.00 rupees
the price is 120 rupees

In [43]:
# TO USE "" INSIDE ""
txt = "We are the so-called \"Vikings\" from the north." 
print(txt)

We are the so-called "Vikings" from the north.

In [50]:
# important methods used on strings 
s = "hello"
print(len(s)) # PRINTS LENGTH OF STRING

if not s:  # or len(s) == 0  
    print("Empty")

print(s.lower())     # hello world
print(s.upper())     # HELLO WORLD
print(s.title())     # Hello World first letter of each word uppercase
print(s.capitalize()) # Hello world first letter uppercase, rest lowercase
print(s.swapcase())  # hEllO wORLD swap upper/lower

s = "banana"
print(s.find("na"))     # 2 index or -1 if not found
print(s.index("na"))    # 2 index or error if not found
print(s.startswith("ba")) # True
print(s.endswith("na"))   # True

s = "a,b,c"
print(s.split(","))   # ['a', 'b', 'c']

words = ["join", "these", "words"]
print(" ".join(words))  # join these words

print("abc".isalpha())   # CKECKS IF ALPHABETS  CAN USED WITH DECALRED VARIABLE ALSO S.ISALPHA()
print("123".isdigit())   # CHECKS IF DIGITS
print("abc123".isalnum()) # CKECKS IF ALPANUMERIC

#  s.islower() / s.isupper() / s.istitle() CAN BE USED TO CHECK IT'S CORRESPONDING VALUES

s = "banana"

print(s.count("a"))        # 3   (a appears 3 times)
print(s.count("na"))       # 2 TO CHECK THE NO OF TIMES A GIVEN VALUE OCCUR

5
hello
HELLO
Hello
Hello
HELLO
2
2
True
True
['a', 'b', 'c']
join these words
True
True
True
3
2

In [52]:
# BOOLEAN 
print(10 > 9)
print(10 < 9)
C="F"
print(bool(x))  # ONLY GIVES FALSE WHEN X IS FALSE NULL EMPTY

x = 200
print(isinstance(x, int))

True
False
True
True

In [ ]:
# SOME IMP OPERATOR
#  //	Floor division
# IS , IS NOT IDENTITY OPERATORS
# MEMBERSHIO OPERATORS IN NOT IN